[Unit]
Description=Unbound DNS (%i)
Documentation=man:unbound(8)
After=network-online.target wg-quick@%i.service
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/sbin/unbound -d -p -c /etc/unbound/unbound-%i.conf
Restart=on-failure
# Lock down a bit
CapabilityBoundingSet=CAP_NET_BIND_SERVICE CAP_SETGID CAP_SETUID
AmbientCapabilities=CAP_NET_BIND_SERVICE
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=full
ProtectHome=true

[Install]
WantedBy=multi-user.target
